body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url('../image2/kartone.jpg');
    background-size: cover; /* Для заполнения экрана */
    background-repeat: no-repeat; /* Убираем повторение */
    background-position: center; /* Центрируем изображение */
    display: flex;
    justify-content: center;
    align-items: center;
}
  .container {
    width: 700px;
    height: 150px;
    background-color: rgba(194, 194, 194, 0.9); /* Полупрозрачный цвет */
    border-radius: 10px; /* Радиус для сглаживания углов */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для улучшения дизайна */
    text-align: center; /* Центровка текста внутри контейнера */
    padding: 20px;
  }

h1 {
    color: #ff4d4d; 
}

p { 
    color: #555; 
}